* {
    background-color: #1BB0F4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h1 {
    color: white;
    font-family: 'Abril Fatface', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-right: 50px;
}