/* app css stylesheet */
/*
        Colors
    Material Green: 009688
    Light Mat Green: 00CAB8

*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; 
    
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*
========================================================================

                    Browse Page CSS                                        

========================================================================
*/

#searchSort li {
    display: inline-block;
}

#exerciseGrid {    
    margin: 50px;
    
}

#exerciseGrid li h3{
    text-align: center;
}

#exerciseGrid li {
    width: 200px;
    min-height: 250px;
    display: inline-block;
    display: -moz-inline-stack;
    margin: 5px; 
    vertical-align: top;   
}


button.btn.btn-flat.learn-more {
    padding: 5px 10px 5px 10px; 
    margin-bottom: 5px;
    margin-left: 5px;
}


button.btn.btn-flat.learn-more:hover {

    background-color: #00CAB8;
}

.rating {
    font-size: 20px;
    /* We reverse the order of stars to right to left
       so we can hover and select all stars coming before
       the hovered star. 
        https://css-tricks.com/star-ratings/
    
    Edit: Using google material icons might not need this
        in the future. changed to ltr for now
    */
    unicode-bidi: bidi-override;
    direction: ltr;
}

/*
  Anything that is hovered, followed by everything that comes
  before the hover gets the gold
*/
.rating > span:hover:before,
.rating > span:hover ~ span:before{
    content: "\2605";
    position: absolute;
    color: gold;
}

.rating i {
    padding: 0;
    margin: 0;
    width: 25px;
    color: #00CAB8;
}

i.material-icons.material-icons-grey {
    color: #d3d3d3;
}
/*
========================================================================

                    Calendar Page CSS                                        

========================================================================
*/


/* div */
.week-container {
    border: 2px solid;    
}
/* ul */
#week {
    display: table;
    width: 100%;
}

#week li {
    display: table-cell;
    width: 13%;
    
    
}



.seven-cols .col-md-1 {
    height: 800px;
    border-right: 1px solid #000;
}
.seven-cols #sunday { 
}

.seven-cols #saturday {
    border: none;
}


/* http://stackoverflow.com/questions/21955088/7-equal-columns-in-bootstrap */
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}


@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}





div {
    
}
