@import '../../style/colors';

.add-button {
  display: inline-block;
  height: 75px;
  width: 75px;
  background-color: $ternary-color;
  border-radius: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  i {
    position: absolute;
    font-size: 4em;
    top: 6px;
    left: 6px;
    color: white;
  }

  &.small {
    height: 50px;
    width: 50px;
    i {
      position: absolute;
      font-size: 3em;
      top: 2px;
      left: 2px;
      color: white;   
    }
  }
}
