<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.exercise.name}}</h3>
    </div>
    <div class="modal-body">
        <ul class="set-list">
            <li ng-repeat="(key,set) in vm.exercise.sets" ng-class="{editing: set == editedSet}">
                <div class="set-rep-weight-list-group">
                    <strong>Set: {{$index+1}}</strong>
                    <!--
                    <input type="number" name="repsInput" ng-model="set.reps" min="0">
                    <input type="number" name="weightInput" ng-model="set.weight" min="0">   
                    -->
                    <form ng-submit="doneEditing(set)">
                        <input ng-click="vm.editSet(set)" ng-model="set.reps" ng-change="vm.saveSet(vm.exercise,set,key)">
                        <input ng-click="vm.editWeight(set)" ng-model="set.weight" ng-change="vm.saveSet(vm.exercise,set,key)">
                        <a href="" ng-click="vm.addSet(vm.exercise.name)">
                           <i class="material-icons">add_circle</i>
                        </a>
                        <a href="" ng-click="vm.removeSet(vm.exercise.name,key)">
                            <i class="material-icons">remove_circle</i>
                        </a>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>