<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.exercise.name}}</h3>
    </div>
    <div class="modal-body">
        <ul class="set-list">
            <a href="" ng-click="vm.addSet(vm.exercise)">
               <i class="material-icons">add_circle</i>
            </a>
            <li ng-repeat="(key,set) in vm.sets">
                <div class="set-rep-weight-list-group">
                    <strong>Set: {{$index+1}}</strong>
                    <form>
                        <input ng-model="set.reps">
                        <input ng-model="set.weight">
                        <a href="" ng-click="vm.removeSet(vm.exercise,key)">
                            <i class="material-icons">remove_circle</i>
                        </a>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel </button>
    </div>
</div>