<div class="week-container">    
    <div ng-repeat="day in days" class="card weekday">
        <h2>{{day}}</h2>
    </div>
</div>


<div class="my-exercises">
    <div class="my-exercises-title">
        <h1>My Exercises</h1>    
    </div>
    <div class="my-exercises-list">
        <div class="card">
            <h5>Exercise</h5>
            <img src="images/benchpress.jpg" alt="bench press">    
        </div>
        <div class="card">
            <h5>Exercise</h5>
            <img src="images/benchpress.jpg" alt="bench press">    
        </div>
        <div class="card">
            <h5>Exercise</h5>
            <img src="images/benchpress.jpg" alt="bench press">    
        </div>
        <div class="card">
            <h5>Exercise</h5>
            <img src="images/benchpress.jpg" alt="bench press">    
        </div>
        <div class="card">
            <h5>Exercise</h5>
            <img src="images/benchpress.jpg" alt="bench press">    
        </div>
    </div>
</div>