<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--Sidebar content-->
            <div class="col-md-12" id="searchSort">
                Search: <input ng-model="exerciseQuery">
                Sort by:
                <select ng-model="orderExercise">
                    <option value="name">Alphabetical</option>
                    <option value="rank">Rank</option>
                </select>    
            </div>
        </div>


        <div id="exerciseGrid" class="col-md-12">
            <ul>
                <li ng-repeat="exercise in vm.exercises">
                    <div class="card">
                        <h3>{{ exercise.name }}</h3>
                        <div class="rating">
<!--                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>-->
                            <i class="material-icons">stars</i>
                            <i class="material-icons">stars</i>
                            <i class="material-icons">stars</i>
                            <i class="material-icons material-icons-grey">stars</i>
                            <i class="material-icons material-icons-grey">stars</i>
                        </div>
                        <img src="images/benchpress.jpg" alt="bench press">    
                        <button class="btn btn-flat learn-more">Learn More</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Input box filters
| filter:exerciseQuery | orderBy:orderExercise"-->