<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.exercise.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-4">
                <h1>Description</h1>
                <img src="images/benchpress.jpg" alt="bench press">
                <p>
                The deadlift is a weight training exercise.With a loaded barbell a neutral spine and a braced core you lift it off the floor then when the bar reaches at knee level you thrust your hips in to complete the movement then lower the barbell back to the ground. It is one of the three powerlifting exercises, along with the squat and bench press.
                </p>
            </div>
            <div class="col-md-4">
                <h1>Top Resources</h1>
            </div>
            <div class="col-md-4">
                <h1>Comments</h1>     
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>