<div class="container-fluid">
    <h1>Log In</h1>
    <form id="login-form" ng-submit="vm.register(vm.newUser)">
        Email or username: <br>
        <input type="email" ng-model="vm.newUser.email" name="username"><br>
        Password <br>
        <input type="password" ng-model="vm.newUser.password"><br><br>
        <button type="submit" value="Submit">Submit</button>
        <p>Don't have an account?</p> <a href="#signup">Sign Up</a>
        <p id="error-message" >{{vm.response}}</p>
    </form>
</div>