@import '../../style/colors';

* {
  background-color: $primary-color;
}

.app-container {
  background-color:  green;
  color: blue;

  h1 {
    font-size:  100px;
    background-color: red;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    margin: 10px auto;
  }
}