/* app css stylesheet */
/*
        Colors
    Material Green: 009688
    Light Mat Green: 00CAB8

*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; 
    
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-nav {
   float: none;
}


#login {
    float: right;
}

#signup {
    float: right;
}

/*
========================================================================

                    Browse Page CSS                                        

========================================================================
*/

#searchSort li {
    display: inline-block;
}

#exerciseGrid {    
    margin: 50px;
    
}

#exerciseGrid li h3{
    /* save for future to try to make all cardss same size
    height: 100px;
      overflow: hidden;
      white-space: nowrap;

    text-overflow: ellipsis;
    */
    text-align: center;
}

#exerciseGrid li#exercise-card {
    text-overflow: ellipsis;
    width: 200px;
    min-height: 250px;
    display: inline-block;
    display: -moz-inline-stack;
    margin: 5px; 
    vertical-align: top;   
}


button.btn.btn-flat.learn-more {
    padding: 5px  5px 10px; 
    margin-bottom: 5px;
    margin-left: 5px;
}

button#add-button {
    padding: 0px 10px 0px 10px; 
    margin-left: 30px;
    font-size: 20px;
}


button.btn.btn-flat.learn-more:hover {
    background-color: #00CAB8;
}


button.btn.btn-default.add:hover {
    background-color: #00CAB8;
}


.rating {
    font-size: 20px;
    /* We reverse the order of stars to right to left
       so we can hover and select all stars coming before
       the hovered star. 
        https://css-tricks.com/star-ratings/
    
    Edit: Using google material icons might not need this
        in the future. changed to ltr for now
    */
    unicode-bidi: bidi-override;
    direction: ltr;
}

/*
  Anything that is hovered, followed by everything that comes
  before the hover gets the gold
*/
.rating > span:hover:before,
.rating > span:hover ~ span:before{
    content: "\2605";
    position: absolute;
    color: gold;
}

.rating i {
    padding: 0;
    margin: 0;
    width: 25px;
    color: #00CAB8;
}

i.material-icons.material-icons-grey {
    color: #d3d3d3;
}
/*
========================================================================

                    Calendar Page CSS                                        

========================================================================
*/

#calendar-mobile-select {
    visibility: hidden;
}

.weekday-container {
    visibility: hidden;
}

.week-container {
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-flex-wrap: nowrap; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;
    
    height: auto;
    visibility: visible;
}



.weekday {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    border: 1px solid #000;
}

.single-exercise {
    margin-bottom: 10px;
}

.single-exercise p {
    line-height: 10px;
}

#editButton {
    float: right;
}


/*
========================================================================

                    Calendar Modal CSS                                        

========================================================================
*/

.set-rep-weight-list {
    margin: 0;
    padding: 0;
}

.set-rep-weight-list li {
    display: inline;
    list-style: none;
}

.set-rep-weight-list-group p {
    display: inline;    
}


/*
========================================================================

                    Log In Page CSS                                        

========================================================================
*/


#login-form {
    width: 300px;
    margin: 0 auto;
}


/*
========================================================================

                    Responsive Media Queries                                         

========================================================================
*/


/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

/*
----------------------------
            Nav                                         
----------------------------
*/

    #login {
        float: none;
    }

    #signup {
        float: none;
    }
      
/*
----------------------------
            Browse                                         
----------------------------
*/
    #searchSort { 
        display: none;
    }
      
    #exerciseGrid {    
        margin: 0;
        padding: 0;
    }

    #exerciseGrid li h3{
        margin: 0;
        padding: 0;
        width: 70%;
        float: right;
        font-size: 20px;   
    }

    #exerciseGrid ul {
        margin: 0;
        padding: 0;
    }
      
    #exerciseGrid li#exercise-card {
        min-height: 110px;
        padding: 0;
        margin: 0;
    }
      
    .card {
        height: 100px;  
    }
    
      
    #exerciseGrid li#exercise-card {
        width: 100%;
        display: inline-block;
        display: -moz-inline-stack;
    }
      
    #exerciseGrid img {
        float: left;
        height: 100px;
        width: 30%;
    }


    button.btn.btn-flat.learn-more {
        padding: 5px 5px 10px;
        margin-top: 30px;
    }

    button.btn.add {
        padding: 0px 10px 0px 10px; 
        margin-left: 5px;
        margin-top: 30px;
        font-size: 20px;
    }


    button.btn.btn-flat.learn-more:hover {
        background-color: #00CAB8;
    }


    button.btn.btn-default.add:hover {
        background-color: #00CAB8;
    }

    .rating {
        display: none;
    }
    i.material-icons.material-icons-grey {
        color: #d3d3d3;
    }
      
/*
----------------------------
            Calendar                                         
----------------------------
*/
    #calendar-mobile-select {
        visibility: visible;
    }
      
    .weekday-container {
        visibility: visible;
    }
      
    .week-container {
        display: none;
    }
      
    #weekday-dropdown {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 20px;
        border: 1px solid #ccc;
        text-indent: 150px;
    }
      
    
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}