@import '../../style/colors';

input[type="text"]
{
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
}

.input {
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  display: block;
  width: 100px;
  border: none;
  border-bottom: 1px solid $input-line;

  &:focus {
    outline: none;
  }
}
